.badge {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 18px;
    background-color: #F2F4F7;
}

.bg-blue {
    background-color: #E2EEFE;
}

.bg-red {
    background-color: #F9E3EF;
}

.blue {
    color: #4090F7;
}

.red {
    color: #D84493;
}