@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
   margin: 0;
   padding: 0;
   font-family: 'Spoqa Han Sans Neo', 'sans-serif';
   color: #101828;
}

main {
   margin-bottom: 80px;
}

button {
   cursor: pointer;
   outline: none;
   border: none;
}