.card {
    border-radius: 6px;
    padding: 20px 14px 17px 20px;
    height: 161px;
    box-shadow: 0 8px 30px rgba(16, 64, 40, 0.02),
    0 8px 24px rgba(16, 64, 40, 0.02),
    0 4px 12px rgba(16, 64, 40, 0.02),
    0 2px 6px rgba(16, 64, 40, 0.02);
}